<div class="container">
  <h1 class="m-5">Open Stack Development - Worsheet 2 "Signals"</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md border">
      <h2>App.Component.html</h2>
      <p><button class="btn btn-primary" (click)="increment()">Increment</button></p>
      <p><button class="btn btn-primary" (click)="decrement()">Decrement</button></p>
    </div>
    <div class="col-md border">
      <h2>child1.component</h2>
      <app-child1></app-child1>
    </div>
    <div class="col-md border">
      <h2>child2.component</h2>
      <app-child2></app-child2>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-md border p-2">
      <h6>Student Number: S00223865</h6>
    </div>
    <div class="col-md border p-2">
      <h6>Student Name: Roisin Muldoon</h6>
    </div>
  </div>
</div>